<% var menu_bar = data.menu_bar %>
<% var first_lecture = data.first_lecture %>

<div class="d-flex justify-content-between align-items-center mb-3 nav_lecture">
    <button type="button" id="callback_btn" class="btn btn-secondary" onclick="callback('/home/course')">
        BACK
    </button>

    <div data-bs-toggle="offcanvas" data-bs-target="#note_bar" aria-controls="offcanvasScrolling" class="note_content">
        <i  class="fa-solid fa-file curr_note"></i>
        My notes

        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="note_bar" aria-labelledby="note_barLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="note_barLabel">My notes</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                    <li><p>Try scrolling the rest of the page to see this option in action.</p></li>
                </ul>






            </div>
        </div>
    </div>


</div>

<div class="container-fluid light-style flex-grow-1 container-p-y lecture_page">
    <div class="lecture_card">
        <% if (first_lecture) { %>
            <div class="lecture_video">
                <iframe width="100%" id="lecture_link" height="100%"
                    src="<%=first_lecture.lectureLink %>" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <!-- //TODO: sửa lại thành form -->
            <div class="d-flex justify-content-between align-items-center mb-3 lecture_modified">
                
                <div class="des_content" style="max-width: 700px;">
                    <h4 class="lecture_title" ><%=first_lecture.lectureTitle %></h4>
                    <p class="lecture_description" ><%=first_lecture.lectureDescription %></p>
                </div>
                <div class="take_note">
                    <i class="fa-solid fa-file-pen new_note"></i>
                    take note 00:00
                </div>
            </div>
        <% }%>

        <div class="panel_content">
            <!-- Tabs Section -->

            <i data-bs-toggle="offcanvas" data-bs-target="#section_bar" aria-controls="offcanvasScrolling"
                class="fa-solid fa-list menu_icon"></i>
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="section_bar" aria-labelledby="section_barLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="section_barLabel">Course Content</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <% if (menu_bar) { %>
                        <% menu_bar.forEach(function(section) { %>
                            <h5>
                                <strong><%= section.sectionNumber %>: <%= section.sectionTitle %></strong> 
                                <i class="toggle_show_lecture fa-solid fa-angle-down"></i> 
                            </h5>
                    
                            <ul id="all_lecture">
                                <% section.lectures.forEach(function(lecture) { %>
                                    <li onclick="change_lecture('<%=lecture.lectureTitle %>','<%=lecture.lectureLink %>' , '<%=lecture.lectureDescription %>')">
                                        <p><i class="fa-regular fa-circle-play" ></i> <%= lecture.lectureTitle %></p>
                                    </li>
                                <% }); %>
                            </ul>
                        <% }); %>
                    <% }%>
                </div>
            </div>
        </div>
    </div>
</div>

